.root {
    max-width: 100px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--color-reversed);
    width: 75%;
    aspect-ratio: 1 / 1;
}